<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node App with MongoDB in Docker containers</title>
</head>

<body>
  <h1>BMI - App</h1>
  <h2>Items:</h2>
  <ul>
      <li>Name: <%= items.name %></li>
      <li>Age: <%= items.age %></li>
      <li>Gender: <%= items.gender %></li>
      <li>BMI: <%= items.bmi %></li>
      <li>Classification: <%= items.classification %></li>
  </ul>
</body>

</html>